// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
  max-width: 200px;
  display: block;
  margin: 10px auto 0 auto;
}

.book-details {
  width: 30%;
  margin: auto;
}

.book-card {
  min-height: 700px;
}

.card img {
  max-width: 300px;
  margin: 10px auto auto;
}

.books-container {
  display: flex;
  padding-top: 10px;
  width: 100%;
}

.options {
  width: 100%;
}

.left-nav-arrow {
  margin-left: 10px;
}

.right-nav-arrow {
  margin-right: 10px;
}