// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
  max-width: 200px;
  display: block;
  margin: 10px auto 0 auto;
}

.book-details {
  width: 50%;
  margin: auto;
}
.card img {
  max-width: 300px;
  margin: 10px auto auto;
}

.container {
  display: flex;
  padding-top: 10px;
  width: 50%;
  .container-title {
    text-align: center;
  }

}